/.IoTScopeProvider.java._trace
/.IoTScopeProvider.xtendbin
/IoTScopeProvider.java
/.IoTResourceDescripitonStrategy.java._trace
/.IoTGlobalScopeProvider.java._trace
/.IoTResourceDescriptionStrategy.java._trace
/.Reference.java._trace
